[submodule "server"]
	path = server
	url = https://github.com/lcneves/livre-server
[submodule "client"]
	path = client
	url = https://github.com/lcneves/livre-client
[submodule "livre3d"]
	path = livre3d
	url = https://github.com/lcneves/livre3d
[submodule "liberty"]
	path = liberty
	url = https://github.com/lcneves/liberty
[submodule "foxx"]
	path = foxx
	url = https://github.com/lcneves/livre-foxx
[submodule "example"]
	path = example
	url = https://github.com/lcneves/livre-example
[submodule "livre-html"]
	path = livre-html
	url = git@github.com:lcneves/livre-html.git
[submodule "liberty-flat"]
	path = liberty-flat
	url = git@github.com:lcneves/liberty-flat.git
