[submodule "server"]
	path = server
	url = git@github.com:lcneves/livre-server.git
[submodule "client"]
	path = client
	url = git@github.com:lcneves/livre-client.git
[submodule "w3d"]
	path = w3d
	url = git@github.com:lcneves/w3d.git
[submodule "liberty"]
	path = liberty
	url = git@github.com:lcneves/liberty.git
[submodule "example"]
	path = example
	url = git@github.com:lcneves/livre-example.git
[submodule "livre-html"]
	path = livre-html
	url = git@github.com:lcneves/livre-html.git
[submodule "liberty-flat"]
	path = liberty-flat
	url = git@github.com:lcneves/liberty-flat.git
